<main class="main">
  <header class="header">
    <h1>School Manager</h1>
    <button #addBtn (click)="openModal('addStudentModal')">Ajouter un étudiant</button>
  </header>

  <div *ngIf="students.length > 0 || isModalOpen('addStudentModal')" class="container">
    <div class="modal" id="addStudentModal">
      <form (ngSubmit)="onSubmit()" id="addStudentForm">
        <button id="closeModalBtn" type="button" (click)="closeModal('addStudentModal')">✖</button>
        <div class="form-group">
          <label for="picture">Image</label>
          <input type="text" id="picture" name="picture" [(ngModel)]="student.picture" required>
          <div *ngIf="!student.picture" class="error">L'image est requise.</div>
        </div>

        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" name="nom" [(ngModel)]="student.nom" required>
          <div *ngIf="!student.nom" class="error">Le nom est requis.</div>
        </div>

        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" id="prenom" name="prenom" [(ngModel)]="student.prenom" required>
          <div *ngIf="!student.prenom" class="error">Le prénom est requis.</div>
        </div>

        <div class="form-group">
          <label for="dateDeNaissance">Date de naissance</label>
          <input type="date" id="dateDeNaissance" name="dateDeNaissance" [(ngModel)]="student.dateDeNaissance" required>
          <div *ngIf="!student.dateDeNaissance" class="error">La date de naissance est requise.</div>
        </div>

        <div class="form-group">
          <label for="classe">Classe</label>
          <select id="classe" name="classe" [(ngModel)]="student.classe" required>
            <option value="">Sélectionnez une classe</option>
            <option value="CE1">CE1</option>
            <option value="CE2">CE2</option>
            <option value="CM1">CM1</option>
            <option value="CM2">CM2</option>
          </select>
          <div *ngIf="!student.classe" class="error">La classe est requise.</div>
        </div>

        <button type="submit" [disabled]="!isFormValid()">
          Ajouter l'étudiant
        </button>
      </form>
    </div>

    <div *ngIf="students.length > 0">
      <h2>Liste des étudiants</h2>
      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Classe</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of students">
            <td>
              <img src="{{ s.picture }}" alt="{{ s.nom + ' ' + s.prenom }}">
            </td>
            <td>{{ s.nom }}</td>
            <td>{{ s.prenom }}</td>
            <td>{{ s.dateDeNaissance }}</td>
            <td>{{ s.classe }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<router-outlet />